/* =============
    Demo
============= */


.box {
    height: 200px;
    width: 200px;
    margin-bottom: 200px;
}

.pink-box{
    background-color: $pink;
}

.teal-box{
    background-color: $teal;
}

.yellow-box{
    background-color: $yellow;
}