/* =============
    Demo
============= */

#demo{
    display: grid;
    grid-template-columns: auto 90% auto;
    grid-template-areas: ". demo .";

    .grow { 
        transition: all .2s ease-in-out; 
        }
        
        .grow:hover { 
        transform: scale(1.1); 
        }

    @include md{
        grid-template-columns: auto 80% auto;
    }

    @include lg{
        grid-template-columns: auto 50% auto;
    }

    >div{
        grid-area: demo;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    
    }
}